*.pyc
*.log
*.pot
__pycache__
db.sqlite3
media

*__pycache__*

Edu_mentor_mate/config.py
*.log 
*.pot 
*.pyc 
pycache/ 
/media 
**/__pycache__/sett
venv

*.pyc
*.log
*.pot
__pycache__
db.sqlite3
media

*__pycache__*
